<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <IndexSnippet> -->
<div class="jumbotron">
  <h1>Sideload document to Office Online</h1>
  <p class="lead">This will upload a document to the user's OneDrive and then open the file in the browser</p>
  {{#if user}}
    <h4>Welcome {{ user.displayName }}!</h4>
    <p>Use the navigation bar at the top of the page to sideload your document in Office Online.</p>
  {{else}}
    <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>
<!-- </IndexSnippet> -->